introduction/docs/3 -Tự động hẹn giờ đăng bài lên youtube.json
{
  "name": "My workflow 6",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -440,
        -40
      ],
      "id": "842bc712-371a-417b-b6aa-4bdfcfb77bf8",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "title": "={{ $json.name }}",
        "regionCode": "VN",
        "categoryId": "1",
        "options": {}
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        420,
        -40
      ],
      "id": "990f9c96-0c8c-40f7-9d6f-fe617c78312d",
      "name": "YouTube",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "THDb3NEp28WG5Lc7",
          "name": "YouTube account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "*.mp4",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "https://drive.google.com/drive/folders/1u2prUj8XeNkHlNglyKtMZkgLzU4GRb1b?usp=drive_link",
            "mode": "url"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -220,
        -40
      ],
      "id": "37835602-2901-4b06-88ea-5979720cea7a",
      "name": "Google Drive1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "VBKLnV5CrXtBLyv1",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Lấy tất cả các item từ node trước\nconst items = $input.all();\n\n// Chọn ngẫu nhiên 1 index\nconst randomIndex = Math.floor(Math.random() * items.length);\n\n// Lấy item tại vị trí ngẫu nhiên\nconst randomItem = items[randomIndex];\n\n// Trả về kết quả\nreturn [randomItem];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        -40
      ],
      "id": "7dacd9e6-f3fc-4a9e-8510-ff1ef009f22c",
      "name": "Code"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        220,
        -40
      ],
      "id": "afbaf2b1-2962-4585-a426-62014d40d8ec",
      "name": "Google Drive2",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "VBKLnV5CrXtBLyv1",
          "name": "Google Drive account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Google Drive1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Google Drive2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive2": {
      "main": [
        [
          {
            "node": "YouTube",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "cce6e9c3-df0b-4b1e-a716-02d4b671c55a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ce230667c1acec7215bde346169ee08dc2a0f12b160bcac6321e48058c1b01b2"
  },
  "id": "puzyx5TN4ikZJ0NM",
  "tags": []
}